.customdmimage {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.customdmimage .customdmimage-image {
  line-height: 0;
}

.customdmimage .customdmimage-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.customdmimage .customdmimage-title {
  margin: 16px 16px 0;
  font-size: 20px;
  font-weight: 600;
}

.customdmimage .customdmimage-title p {
  margin: 0;
}

.customdmimage .customdmimage-body {
  margin: 8px 16px 16px;
}

@media (width >= 900px) {
  .customdmimage {
    max-width: 480px;
  }
}
