.custom-dm-image {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.custom-dm-image .custom-dm-image-image {
  line-height: 0;
}

.custom-dm-image .custom-dm-image-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.custom-dm-image .custom-dm-image-title {
  margin: 16px 16px 0;
  font-size: 20px;
  font-weight: 600;
}

.custom-dm-image .custom-dm-image-title p {
  margin: 0;
}

.custom-dm-image .custom-dm-image-body {
  margin: 8px 16px 16px;
}

@media (width >= 900px) {
  .custom-dm-image {
    max-width: 480px;
  }
}
